@import "rating.css";

body {
  --ah-padding-vertical: 3rem;
  --ah-padding-horizontal: calc(1.5rem + 1.5vw);

  font-family: "Montserrat", sans-serif;
  font-weight: 400;

  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow Condensed", sans-serif;
  }

  a {
    color: #000000;
    text-decoration: none;

    &.button {
      --ah-btn-color: transparent;

      display: inline-block;
      padding: calc(var(--ah-padding-vertical) / 8) calc(var(--ah-padding-horizontal) / 2);
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      border: 1px solid var(--ah-btn-color);
      border-radius: calc(var(--ah-padding-vertical) / 8);
      background-color: var(--ah-btn-color);

      &.button--light {
        --ah-btn-color: #ffffff;
      }
    }
  }

  main {

    padding-bottom: var(--ah-padding-vertical);
    border-bottom: 1px solid #000000;

    .introduction {
      background-color: #000000;
      color: #ffffff;
      padding: var(--ah-padding-vertical) var(--ah-padding-horizontal);

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }

      .introduction__header-group {
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: .5fr 4fr;
        }

        .introduction__header {
          text-align: center;
          line-height: 1.2;

          &.introduction__header--greeting {
            font-size: calc(1.375rem + 1.5vw);
            font-weight: 300;
          }

          &.introduction__header--bio {
            font-size: calc(1.625rem + 4.5vw);

            @media (min-width: 768px) {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr 1.5fr 1fr;
            }

            span {
              grid-column: 1 / 2;
            }
            span:first-child {
              grid-row: 1 / 2;
            }
            span:last-child {
              grid-row: 3 / 4;
            }

          }
        }
      }

      .introduction__avatar {
        display: block;
        width: 75%;
        margin: var(--ah-padding-vertical) auto;
        max-width: 100%;
        height: auto;
        border-radius: 50%;

        @media (min-width: 768px) {
          margin-top: calc(var(--ah-padding-vertical) + 6vw);
        }

        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .introduction__bio {
        grid-column: 1 / 5;
      }
    }

    .recent {
      .recent__introduction {
        width: auto;
        aspect-ratio: 8 / 10; /* height = width * 1.25 */

        @media (min-width: 768px) {
          aspect-ratio: 21 / 9;
        }

        color: #ffffff;

        position: -webkit-sticky; /* Required for Safari */
        position: sticky;
        top: 0;
        z-index: 1020;

        display: flex;
        align-items: flex-end;

        padding: var(--ah-padding-vertical) var(--ah-padding-horizontal) calc(2 * var(--ah-padding-vertical)) var(--ah-padding-horizontal);

        background-size: cover;

        &.recent__introduction--books {
          background-image: url("../img/introduction-backgrounds/books.jpeg");
        }

        &.recent__introduction--vinyls {
          background-image: url("../img/introduction-backgrounds/vinyls.jpeg");
        }

        .recent__introduction__header {
          flex: 1 0 0;

          .recent__introduction__headline {
            font-size: calc(1.625rem + 4.5vw);
          }
        }

        /* pull up the section following the content section introduction */

        + div {
          margin-top: calc(-1 * var(--ah-padding-vertical));
        }
      }

      .recent__categories {
        position: -webkit-sticky; /* Required for Safari */
        position: sticky;
        top: 0;
        z-index: 1020;

        .recent-category {
          background: #ffffff;
          padding: var(--ah-padding-vertical) var(--ah-padding-horizontal);

          &:first-child {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;

            padding-bottom: 0;
          }

          .recent-category__header {
            margin-bottom: calc(var(--ah-padding-vertical) / 1.5);
          }
        }
      }
    }

    .collection-item {
      border-bottom: 1px solid #dee2e6;
      padding-bottom: calc(var(--ah-padding-vertical) / 6);

      .collection-item__cover {
        margin: 0 0 calc(var(--ah-padding-vertical) / 3) 0;

        max-width: 100%;
        height: auto;
      }

      &.collection-item--discrete {
        border: none;
        margin: 0; /* Prevent gap to next category section. */
        padding: 0;

        .collection-item__cover {
          display: block;
          margin: 0 auto var(--ah-padding-horizontal) auto;
        }
      }

      .collection-item__creator {
        display: block;
      }
    }
  }

  footer {
    padding: calc(var(--ah-padding-vertical) / 2) var(--ah-padding-horizontal);
  }
}
