@import "css/rating.css";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
}

/* pull up the section following the content section introduction */
.content-section__introduction + div > section {
  margin-top: -3rem;
}
